*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
.project
.classpath
lib/*
build/*
generated-files/*
generated-sources/*
generated-code/*
*.swp
target
.idea
.lib
packages/
.pub
.packages
.metadata
.settings
*.mustache~
*.java~
*.pm~
*.xml~
*.t~

/target
/generated-files


**/node_modules
**/localmaven
**/.gradle/
**/cdk.out/
*.csproj.user
*.pyc
__pycache__


serverside/prova-cdk/test1.7z
*.secret.json
cert_apache.7z
**/cdk-outputs.json
**/output/*