*.iml
out/
*.ipr
*.iws
classpath.txt
version.properties
.project
.classpath
lib/*
build/*
generated-files/*
generated-sources/*
generated-code/*
*.swp
target
.idea
.lib
packages/
.pub
.packages
.metadata
.settings
*.mustache~
*.java~
*.pm~
*.xml~
*.t~
*.secret.json

/target
/generated-files


**/node_modules
**/.gradle/
*.csproj.user
*.pyc
__pycache__
serverside/prova-cdk/test1.7z
