body {
  font-family: calibri;
}
button {
  margin: 1px 4px;
}
.info {
  padding: 20px;
  border: 1px solid #e0e0e0;
  overflow-wrap: break-word;
  line-height: 15px;
  max-height: 300px;
  overflow: auto;
  font-size: 12px;
}
.autenticato {
  color: red;
}
.exp-bar-outer {
  background-color: white;
  display: inline-block;
  margin-left: 8px;
  height: 12px;
  width: 100px;
  vertical-align: bottom;
  padding: 2px;
  border: 1px solid gray;
}
.exp-bar-outer .exp-bar-inner {
  width: 100%;
  height: 100%;
  background-color: #3f3;
}
